<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
{% load staticfiles %}

<title>WW1 Parramatta Soldiers</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="all" href="{% static "css/style.css" %}" />
<script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>
<link href='//fonts.googleapis.com/css?family=Merriweather:400,900,700' rel='stylesheet' type='text/css'>

</head>

<body id="home">





<!-- <section class="grid-wrap"> -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1><span>&#8212;&#10087;</span> WW1 Parramatta Soldiers <span>&#10087;&#8212;</span></h1>
		</div>
	</div>

	<div class="row">
<div class="col-md-12">
<ul class="list-inline">
  <li role="presentation" class="active"><a href="{% url 'home' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'list_all_soldiers' %}">All Soldiers</a></li>
</ul>
</div>

	</div>



	<div class="row">
	{% if soldiers %}
		<div class="loading">
			<div class="sk-spinner sk-spinner-wave">
		      <div class="sk-rect1"></div>
		      <div class="sk-rect2"></div>
		      <div class="sk-rect3"></div>
		      <div class="sk-rect4"></div>
		      <div class="sk-rect5"></div>
		    </div>


			<p class="lead">Loading results...</p>

			<p class="lead">
				<script>
					var tidbits = ["There were 59 known lance corporals from the Parramatta region.",
					               "More than 1000 privates were from Parramatta?",
					               "Many soldiers were only in their 20s when embarked."]
				</script>
			<strong>Did you know:</strong> 
			<script>
				var tidbit = tidbits[Math.floor(Math.random() * tidbits.length)];
				document.write(tidbit);
			</script>
			</p>
		</div>

	    <ul class="grid effect-1" id="grid">
	    {% for soldier, photo_url in soldiers %}

	        <li><a href="{% url 'soldier_detail' soldier.unique_id %}"><img src="{% static photo_url %}" alt="{{ soldier.name }} {{ soldier.surname }}"></a><h3>{{ soldier.rank }} {{ soldier.name }} {{ soldier.surname }}</h3></a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No results found.</p>
	{% endif %}
	</div>


		</div>
	</div>

	{% include "footer.include.html" %}

</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<!--
<script>
// Preload images (by Arun)
$.preloadImages = function() {
  for (var i = 0; i < arguments.length; i++) {
    $("<img />").attr("src", arguments[i]);
  }
}

var photos = [];
{% for soldier, photo_url in soldiers %}
photos.push("{% static photo_url %}");
{% endfor %}

photos = photos.slice(0, 3);
var i;
for (i = 0; i < photos.length; i++) {
  var photo = photos[i];
  $.preloadImages(photo);
}
</script>
-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<!-- <script src="{% static "js/masonry.pkgd.min.js" %}"></script> -->

<script src="{% static "js/imagesloaded.js" %}"></script>
<script src="{% static "js/classie.js" %}"></script>
<script src="{% static "js/AnimOnScroll.js" %}"></script>


<script>
	new AnimOnScroll( document.getElementById( 'grid' ), {
		minDuration : 0.4,
		maxDuration : 0.7,
		viewportFactor : 0.2
	} );
</script>


<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.2/packery.pkgd.min.js"></script>

<script>
var $container = $('#grid');
// init
$container.packery({
  itemSelector: '.item',
  gutter: 10
});
</script>
-->

</body>
</html>