<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
{% load staticfiles %}

<title>Records for {{ soldier }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="all" href="{% static "css/style.css" %}" /> -->
<!-- <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script> -->
<!-- <link href='//fonts.googleapis.com/css?family=Merriweather:400,900,700' rel='stylesheet' type='text/css'> -->
<link rel="stylesheet" type="text/css" href="{% static "css/mirador-combined.css" %}">
<style type="text/css">
        body { padding: 0; margin: 0; overflow: hidden; font-size: 70%; }
        #viewer { background: #333 url(images/debut_dark.png) left top repeat;
        width: 100%; height: 100%; position: fixed; }
    </style>

</head>

<body id="soldier-records">


<div id="viewer"></div>


<script src="{% static "js/mirador.js" %}"></script>
<script type="text/javascript">

    $(function() {
      var local = false;
      if(local == true){
              Mirador({
                "id": "viewer",
                "currentWorkspaceType": "singleObject",
                "saveSession": false,
                "layout": "1x1",
                "data": [
                  { 
                      "manifestUri": "http://127.0.0.1:5000/iiif/soldier/manifest?id=0006&name=Sgt%20Brody"}],
                 "windowObjects": [
                        {
                            "loadedManifest": "http://127.0.0.1:5000/iiif/soldier/manifest?id=0006&name=Sgt%20Brody",
                            "viewType" : "ImageView",
                            "canvasID": "http://127.0.0.1:5000/iiif/soldier/manifest?id=0006&name=Sgt%20Brody"
                         }]
              });
       }
       else{
       	   var unique_id = "{{ soldier.get_unique_id }}";
           var name = "{{ soldier.get_full_name|urlencode }}";
           Mirador({
             "id": "viewer",
             "currentWorkspaceType": "singleObject",
             "saveSession": false,
             "layout": "1x1",
             "data": [
               { 
                   "manifestUri": "http://104.237.136.241:5000/iiif/soldier/manifest?id=" + unique_id + "&name=" + name}],
              "windowObjects": [
                     {
                         "loadedManifest": "http://104.237.136.241:5000/iiif/soldier/manifest?id=" + unique_id + "&name=" + name,
                         "viewType" : "ImageView",
                         "canvasID": "http://104.237.136.241:5000/iiif/soldier/manifest?id=" + unique_id + "&name=" + name
                      }]
           });
       }
    });
</script>

</body>
</html>